body

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sub_container_left{
    display: flex;
    flex-direction: column;
    border: 2px solid lime;
    width: 33%;
    align-items: center;
    padding-top: 50px;
}

.middle_container{
    display: flex;
    border: 2px solid blue;
    width: 33%;
    justify-content: center;
}

.right_container{
    display: flex;
    border: 2px solid blueviolet;
    width: 33%;
    justify-content: center;
}

.img_user{
    border-radius: 360px;
    width: 45%;
    border: 4px solid black;
    box-shadow: 0 5px 30px white;
}

.painel_container{
    border: 2px solid green;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.subconPainel{
    border: 1px solid red;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
}

.painel_darkmonde{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subpainel_darkmode{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px ;
}

.subpainel_darkmode img:hover{
    cursor: pointer;
}

.p_darkmode{
    font-size:calc(10px + 1vw);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

}

.p_darkmode:hover{
    cursor: default;
}


h1{
    font-size:calc(10px + 2vw);
    font-family: Arial, Helvetica, sans-serif;
}

h1:hover{
    cursor: default;
}
