<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    
    
    <link rel="stylesheet" href="/static/stylesheets/categoria_style.css">
    <link rel="icon" href="/static/images/tab_icon.png">
    <title>{{ Titulo }}</title>
</head>

<body>

    <header class="header_index">
        <a href="{{ url_for('SiteIndex') }}" class="img_header">
            <img src="/static/images/Logotipo.png" class="img_clickable"></a>
        <div class="barra_pesquisa">
            <form>
                <input type="text" placeholder="Pesquisar">
                <button type="submit" class="button_pesquisa"><img src="/static/images/pesquisa.png" alt="lupa" class="lupa_pesquisa"></button>
            </form>
        </div>
        <script src="/static/scripts/JavaScript_Functions.js"></script>
        {% if 'usuario_nome' in session %}
        <a href="{{ url_for('Site_Login') }}" class="img_header">
            <img src="/static/images/usercon.png" class="img_clickable"></a>
        {% else %}
        <a href="{{ url_for('Site_Login') }}" class="img_header">
            <img src="/static/images/placeholder_user_Ico.png" class="img_clickable"></a>
        {% endif %}
    </header>



    <div class="categ_header_hyperlinks">
        <a href="{{ url_for('SiteIndex') }}">Página inicial</a>
        <a href="{{ url_for('Site_noticias') }}">Notícias</a>
        <a href="{{ url_for('Site_categorias') }}">Categorias</a>
        <a href="{{ url_for('Site_recomendacoes') }}">Recomendações</a>
        <a href="{{ url_for('Site_faleconosco') }}">Fale Conosco</a>
        <a href="{{ url_for('Site_quemsomos') }}">Quem somos</a>
    </div>

{% block conteudo %}{% endblock %} 
