{% extends 'categoria_base.html' %}

{% block conteudo%}
<div class="main_div_categorias">
    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/giganterichard" target="_blank"><img src="/static/images/categorias/conversas/1.png" class="img_categoria"><p>Nome: giganterichard</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/Gidreams" target="_blank"><img src="/static/images/categorias/conversas/3.png" class="img_categoria"><p>Nome: Gidreams</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/loryez" target="_blank"><img src="/static/images/categorias/conversas/4.png" class="img_categoria"><p>Nome: loryez</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/Toddynho" target="_blank"><img src="/static/images/categorias/conversas/5.png" class="img_categoria"><p>Nome: Toddynho</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/Lehs2" target="_blank"><img src="/static/images/categorias/conversas/2.png" class="img_categoria"><p>Nome: Lehs2</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/zanellaofc" target="_blank"><img src="/static/images/categorias/conversas/6.png" class="img_categoria"><p>Nome: zanellaofc</p></a></div>
    </div>
</div>
{% endblock %} 