{% extends 'categoria_base.html' %}

{% block conteudo%}
<div class="main_div_categorias">
    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/callmecheska" target="_blank"><img src="/static/images/categorias/culinarias/1.png" class="img_categoria"><p>Nome: CallMeCheska
        </p></a></div>

        <div class="item"><a href="https://www.twitch.tv/nuyentime" target="_blank"><img src="/static/images/categorias/culinarias/3.png" class="img_categoria"><p>Nome: NuYenTime</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/engelburtmeow" target="_blank"><img src="/static/images/categorias/culinarias/4.png" class="img_categoria"><p>Nome: EngelBurtMeow</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/gourmetg33kgrub" target="_blank"><img src="/static/images/categorias/culinarias/5.png" class="img_categoria"><p>Nome: gourmetg33kgrub</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/notannts" target="_blank"><img src="/static/images/categorias/culinarias/2.png" class="img_categoria"><p>Nome: NotAnnts</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/chefnegin" target="_blank"><img src="/static/images/categorias/culinarias/6.png" class="img_categoria"><p>Nome: ChefNegin</p></a></div>
    </div>
</div>
{% endblock %} 