{% extends 'categoria_base.html' %}

{% block conteudo%}
<div class="main_div_categorias">
    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/Canal20Podcast" target="_blank"><img src="/static/images/categorias/esportes/1.png" class="img_categoria"><p>Nome: Canal20Podcast</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/comentaristaburro" target="_blank"><img src="/static/images/categorias/esportes/3.png" class="img_categoria"><p>Nome: comentaristaburro</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/timbucast" target="_blank"><img src="/static/images/categorias/esportes/4.png" class="img_categoria"><p>Nome: timbucast</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/alexandrerbr" target="_blank"><img src="/static/images/categorias/esportes/5.png" class="img_categoria"><p>Nome: AlexandreRbr
        </p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/cartinhasdochat" target="_blank"><img src="/static/images/categorias/esportes/2.png" class="img_categoria"><p>Nome: cartinhasdochat</p></a></div>

        <div class="item"><a href="https://www.youtube.com/@CazeTV" target="_blank"><img src="/static/images/categorias/esportes/6.png" class="img_categoria"><p>Nome: CazéTV</p></a></div>
    </div>
</div>
{% endblock %} 