<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/stylesheets/estilo_base.css">

    <title>{{ Titulo }}</title>

    <header class="header_index">
        <img src="/static/images/Logotipo.png" alt="Logo">
        <h1>Live Center</h1>
        <div class="barra_pesquisa"><input class ="barra" type="text" placeholder="Pesquisar."><input type="image" src="/static/images/lupa_ico.png" class="btt_submit"></div>
        <input type="image" src="/static/images/placeholder_user_Ico.png" class="btt_user">
    </header>

</head>

<body>

</body>

{% block conteudo %}{% endblock %} 

</html>