<!-- Pagina inicial do site.-->
<!-- Conteúdos: Apresentação do projeto, logo, detalhes específicos.-->

{% extends 'base.html' %}
{% block conteudo%}
<div class="div_conteudo">
<h1 class="texto_conteudo"> Grupo 2 - Projetec IFMG 2022.</h1>
<img src="/static/images/Logotipo.png" alt="logo" class="logo_conteudo">
<p class="texto_main">Live Center - Um site focado em reunir as informações mais importantes do universo das lives no nosso país, projeto idealizado para um trabalho de conclusão de curso no Instituto Federal de Minas Gerais, Campus Sabará, Por Nagib Alexandre, Gabrielle Gad, Pedro Sanzio e Kaique Nunes. Além de notícias, reunimos também recomendações de streamers grandes e pequenos para dar uma maior visibilidade aos mesmos e alcançar um público maior.</p>



</div>
{% endblock %} 