<!-- Pagina inicial do site.-->
<!-- Conteúdos: Apresentação do projeto, logo, detalhes específicos.-->

{% extends 'base.html' %}
{% block conteudo%}
<div class="div_conteudo">
<h1 class="texto_conteudo"> Grupo 2 - Projetec IFMG 2022.</h1>
<img src="/static/images/Logotipo.png" alt="logo" class="logo_conteudo">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id eleifend eros. Curabitur ultrices, lacus quis feugiat bibendum, lacus orci porta ante, eu accumsan ipsum ante et quam. Vivamus feugiat viverra sollicitudin. Integer in elementum ex, in elementum erat. Curabitur volutpat rhoncus dui vel efficitur. Sed laoreet elit ac odio laoreet interdum. Aliquam eu arcu bibendum ante mattis porta eu ac justo. Cras eget varius enim, vel molestie nisi. Praesent quis neque elit. Etiam rutrum diam dui, eu commodo purus malesuada ac. Praesent posuere, ipsum id vestibulum mollis, sapien nulla imperdiet magna, blandit porta felis erat vel nisi.

    Nam cursus pretium ligula, a dignissim enim bibendum ut. In semper sodales nunc sed malesuada. Suspendisse quis turpis eget nisl aliquam mollis nec vel mi. Nullam pulvinar dui id pretium vulputate. Aenean purus mauris, vulputate in viverra id, fringilla sed ante. Vivamus vehicula sit amet quam ac finibus. Mauris fermentum blandit sem id sagittis. Nulla facilisi. Duis lacinia consectetur interdum. In aliquam suscipit dui sit amet tristique. Phasellus sapien sapien, dictum ut nibh quis, gravida posuere ante.
    
    Mauris eu sagittis enim. In hac habitasse platea dictumst. Curabitur ultricies dignissim faucibus. Donec porttitor viverra orci in bibendum. Aenean eleifend tortor nisl, et posuere lacus facilisis vel. Donec sit amet risus quis felis placerat dapibus ut eu tortor. Vivamus gravida metus non mi interdum posuere. Sed at orci quis enim sollicitudin malesuada. Praesent eget tincidunt tortor. Donec interdum ex non erat auctor, in pellentesque nisi volutpat. Donec mattis nibh sed sapien vestibulum, ac venenatis augue dapibus. Praesent consequat scelerisque pulvinar. Nunc pretium tellus id nunc vulputate dignissim. Quisque aliquam accumsan nunc, auctor pretium lacus ultrices eu. Duis fringilla pellentesque nisl, sit amet ullamcorper purus molestie in.</p>



</div>
{% endblock %} 