<head>
    <title>Página login</title>
    <link rel="stylesheet" href="/static/stylesheets/estilo_login_page.css">
</head>

<body>
    <div class="main_container">

        <div class="sub_container_left">
            <img src="/static/images/usercon.png" alt="userimg" class="img_user">
            <h1>Olá {{ session['usuario_nome']}}!</h1>
            <div class="painel_container">
                
                <div class="subconPainel painel_darkmonde">
                    <p class="p_darkmode"><b>Escolha o modo de cores:</b></p>
                    <div class="subpainel_darkmode">
                        <img src="/static/images/ICO_sun.png" alt="sun">
                        <img src="/static/images/ICO_moon.png" alt="moon">
                    </div>
                </div>

                <div class="subconPainel painel_notification">
                    <p><b>Notificações: </b></p>
                </div>

                <div class="subconPainel painel_feedback">
                    3
                </div>
                
                <div class="subconPainel return_button">
                    4
                </div>
            </div> 
        </div>


        <div class="middle_container">

        </div>

        <div class="right_container">

        </div>


    </div>
</body>