{% extends 'base.html' %}
{% block conteudo%}
<div class="parent">
    <div class="div1"> a</div>
    <div class="subdiv div2"> <img src="/static/images/noticias/noticia1.png" alt="a" class="img_noticia"></div>
    <div class="subdiv div3"> <img src="/static/images/noticias/noticia2.png" alt="a" class="img_noticia"></div>
    <div class="subdiv div4"> <img src="/static/images/noticias/noticia3.png" alt="a" class="img_noticia"></div>
    <div class="subdiv div5"> <img src="/static/images/noticias/noticia4.png" alt="a" class="img_noticia"></div>
    <div class="subdiv div6"> <img src="/static/images/noticias/noticia5.png" alt="a" class="img_noticia"></div>
</div>
{% endblock %} 