{% extends 'base.html' %}

{% block conteudo %}

<h1 class="qm_title">Quem Somos</h1>

<section class="qm_container">
    <div class="cartoes">
        <div class="qm_fundo">
            <img src="/static/images/quemsomos/qm_bg.jpg" alt="">
        </div>
        <div class="qm_pic">
            <img src="/static/images/quemsomos/fotos/nagib.jpg" alt="">
        </div>
        <div class="qm_info">
            <h3>Nagib Alexandre</h3>
            <span> <i class="fas fa-code"> Full Stack</i><i class="fas fa-code"></i></span>
            <div class="icones">
                <a target="_blank" href="https://www.instagram.com/nagibverly/" class="fab fa-instagram"></a>
                <a target="_blank" href="https://github.com/NagibAlexandre" class="fab fa-github"></a>
            </div>
        </div>
    </div>

    <div class="cartoes">
        <div class="qm_fundo">
            <img src="/static/images/quemsomos/qm_bg2.jpg" alt="">
        </div>
        <div class="qm_pic">
            <img src="/static/images/quemsomos/fotos/gad.jpg" alt="">
        </div>
        <div class="qm_info">
            <h3>Gabrielle Gad</h3>
            <span> <i class="fas fa-code"> Front End</i><i class="fas fa-code"></i></span>
            <div class="icones">
                <a target="_blank" href="https://www.instagram.com/gabriellegad_45/" class="fab fa-instagram" ></a>
                <a href="#" class="fab fa-github"></a>
            </div>
        </div>
    </div>

    <div class="cartoes">
        <div class="qm_fundo">
            <img src="/static/images/quemsomos/qm_bg3.jpg" alt="">
        </div>
        <div class="qm_pic">
            <img src="/static/images/quemsomos/fotos/kaique.png" alt="">
        </div>
        <div class="qm_info">
            <h3>Kaique Nunes</h3>
            <span> <i class="fas fa-code"> Textos </i><i class="fas fa-code"></i></span>
            <div class="icones">
                <a target="_blank" href="https://www.instagram.com/kainunees/" class="fab fa-instagram"></a>
                <a target="_blank" href="https://github.com/kainunes" class="fab fa-github"></a>
            </div>
        </div>
    </div>

    <div class="cartoes">
        <div class="qm_fundo">
            <img src="/static/images/quemsomos/qm_bg4.jpg" alt="">
        </div>
        <div class="qm_pic">
            <img src="/static/images/quemsomos/fotos/sanzio.jpg" alt="">
        </div>
        <div class="qm_info">
            <h3>Pedro Sanzio</h3>
            <span> <i class="fas fa-code"> Back End </i><i class="fas fa-code"></i></span>
            <div class="icones">
                <a target="_blank" href="https://www.instagram.com/pedro_sanzio/" class="fab fa-instagram"></a>
                <a target="_blank" href="https://github.com/phsanzio" class="fab fa-github"></a>
            </div>
        </div>
    </div>
</section>


{% endblock %} 