{% extends 'categoria_base.html' %}

{% block conteudo%}
<div class="main_div_categorias">
    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/trizpariz"><img src="/static/images/recomendacoes/1.png" class="img_categoria"><p> TrizPariz</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/dlinkotoz"><img src="/static/images/recomendacoes/3.png" class="img_categoria"><p> Dlinkotoz</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/baixaqualidade1"><img src="/static/images/recomendacoes/4.png" class="img_categoria"><p> BaixaQualidade1</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/nnatie"><img src="/static/images/recomendacoes/5.png" class="img_categoria"><p> nnatie</p></a></div>
    </div>

    <div class="categoria_subdiv">
        <div class="item"><a href="https://www.twitch.tv/bnucifera"><img src="/static/images/recomendacoes/2.png" class="img_categoria"><p> Bnucifera</p></a></div>

        <div class="item"><a href="https://www.twitch.tv/cladofi"><img src="/static/images/recomendacoes/6.png" class="img_categoria"><p> Cladofi</p></a></div>
    </div>
</div>
{% endblock %} 